<h1>
    <%= message %>
</h1>
<h2>
    <%= error.status %>
</h2>
<pre><%= error.stack %></pre>

<h1 style="border: 2px solid black; padding: 0px; margin: 0px; width: 236px;"> SAHIL DIYORA </h1>
<!-- <table border="2" cellpadding="10"><tr><td> NAME </td><td> SAHIL</td></tr><tr><td> SURNAME </td><td>DIYORA</td></tr><tr><td> FATHER NAME </td><td>SANJAY BHAI</td></tr></table> -->